.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: #ff920c;
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.nav a {
    color: #030c3f;
    text-decoration: none;
}

.nav li:hover {
    transform: scale(1.2) rotate(10deg);
}